@using VirtualDeckWeb.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<h2 class="section-title">@ViewBag.Title</h2>
<div class="centered-col-container">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, 
        new { @class = "default-form default-form-border", role = "form", @style="width: 350px;" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "error-message" })

        <div class="default-form-group">
            @Html.LabelFor(m => m.Email)
            <div class="text-box-container">
                @Html.TextBoxFor(m => m.Email, new { @class = "text-box", @placeholder = "Introduce el email" })
                <span class="text-box-outline"></span>
            </div>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error-message" })
        </div>
        <div class="default-form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "text-box", @placeholder = "Introduce la contraseña" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error-message" })
        </div>

        <div class="form-submit-group">
            <input type="submit" value="Iniciar sesión" class="action-button" />
            <p>¿No tienes cuenta? @Html.ActionLink("Registrate", "Register")</p>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}