@using Microsoft.AspNet.Identity
@using VirtualDeckGenNHibernate.EN.VirtualDeck;

@{
    string username = "";
    VirtualUserEN user = Session["User"] as VirtualUserEN;
    if (user != null)
    {
        username = user.UserName;
    }
}


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right infUserNav">
        <li>
            @if (user != null)
            {
                if (ViewBag.Title == "Mi Perfil" || ViewBag.Title == "Editar Perfil")
                {
                    @Html.ActionLink("Mi Perfil", "Details", "VirtualUser", new { Id = user.Id }, htmlAttributes: new { id = "user", @class = "sel" })
                }
                else
                {
                    @Html.ActionLink("Mi Perfil", "Details", "VirtualUser", new { Id = user.Id }, htmlAttributes: new { id = "user", @class = "no-sel" })
                }
            }
            </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @if (ViewBag.Title == "Registro")
            {
                @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "sel" })
            }
            else
            {
                @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "no-sel" })
            }
        </li>
        <li>
            @if (ViewBag.Title == "Login")
            {
                @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "sel" })
            }
            else
            {
                @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "no-sel" })
            }
        </li>
    </ul>
}
