@model IEnumerable<VirtualDeckWeb.Models.UserCardViewModel>

@using VirtualDeckWeb.Controllers;
@using VirtualDeckGenNHibernate.EN.VirtualDeck;

@{bool usu = false;
    int id = -1;}


@if (Session["user"] != null)
{
    VirtualUserEN en = Session["user"] as VirtualUserEN;
    //FALTA COMPROBAR EL ID DEL MODEL CON EL ID DE LA SESSION Y SI COINCIDE ENTONCES MUESTRO EL LINK A EDITAR
    id = (int)ViewData["idUser"];
    if (en.Id == id)
    {
        usu = true;
    }

}
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="profile-container">
                    <a data-toggle="modal" data-target="#@item.Id">
                        @Html.Partial("UserCardPartial", item)
                    </a>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="@item.Id" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="m-modal">
                    <div>
                        @Html.Partial("UserCardPartial", item)
                        <div>
                            <h2>@item.Name</h2>
                            <p>Nivel: @item.Level</p>
                            <p>Experiencia: @item.Experience</p>
                            <p>Fecha de compra: @item.PurchaseDate</p>
                            <p>Rareza: @item.Rarity</p>
                        </div>
                    </div>
                    @if (usu == true)
                    {
                        @Html.ActionLink("Destruir", "Index", "UserCard", new { idUsuario = id, idCarta = item.Id }, new { @class = "action-button" })
                    }
                </div>
            </div>
        }
    </div>
</div>
