@model VirtualDeckWeb.Models.CardViewModel
@{
    IEnumerable<VirtualDeckWeb.Models.AttackMoveViewModel> ModelAttack = ViewData["Attack"] as IEnumerable<VirtualDeckWeb.Models.AttackMoveViewModel>;
}

@{
    ViewBag.Title = "Details";
}

<div class="container superior">
    <div class="row">


        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            @Html.Partial("CardPartial", Model)
        </div>


        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 details">
            @using (Html.BeginForm("Buy", "Card", FormMethod.Post))
            {
                <h3>@Html.DisplayFor(model => model.Name)</h3>
                <p>@Html.DisplayFor(model => model.Description)</p>
                <div>
                    <label>Precio total</label>
                    <p class="price">@Html.DisplayFor(model => model.Price)<img src="~/Resources/token.png" alt="Tokens" class="token"></p>
                </div>
                <div>
                    <label for="cantidad">Cantidad</label>
                    <input type="number" id="cantidad" name="amount" min="1" value="1" max="50" onchange="changeTokens(this);" />
                </div>
                <div>
                    <label>Precio total</label>
                    <p><span class="totalPrice">@Html.DisplayFor(model => model.Price)</span><span><img src="~/Resources/token.png" alt="Tokens" class="token"></span></p>
                </div>

                <input type="submit" value="Comprar" class="btn btn-default action-button" />
                <input type="hidden" value="@Model.Id" name="cardId">
            }

        </div>

    </div>
</div>
<div class="container">
    @Html.Partial("AttackListPartial", ModelAttack)
</div>
<div class="container">
    @{
        Html.RenderAction("ListPartial", "Comment", new { productID = Model.Id });
    }
</div>

@Html.Partial("OperationResultPartial")