@model IEnumerable<VirtualDeckWeb.Models.CardViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="gridProducts">
    @foreach (var item in Model)
    {
        <div class="contenedor">
            <div class="fondo">
                <div class="tipo">
                    <img class="@Html.DisplayFor(modelItem => item.BackgroundColorClass)" src="~/Resources/Borders/@Html.DisplayFor(modelItem => item.BackgroundImage)" alt="electric">
                    <div class="info">
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <img src="~/Resources/Type/@Html.DisplayFor(modelItem => item.Img) " alt="@Html.DisplayFor(modelItem => item.Img)">
                        <div class="estadisticas">
                            <h4>Ataque</h4>
                            <p class="puntos">@Html.DisplayFor(modelItem => item.Attack)</p>
                            <h4>Vida</h4>
                            <p class="puntos">@Html.DisplayFor(modelItem => item.Health)</p>
                            <h4>Defensa</h4>
                            <p class="puntos">@Html.DisplayFor(modelItem => item.Defense)</p>
                            <h4>Velocidad</h4>
                            <p class="puntos">@Html.DisplayFor(modelItem => item.Speed)</p>
                        </div>

                    </div>
                </div>
            </div>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            <div>
                <button>@Html.ActionLink("Comprar", "ModelPurchaseCard", new { id = item.Id }) </button>
                <p>@Html.DisplayFor(modelItem => item.Price)</p>
            </div>
        </div>
    }
</div>


@Html.ActionLink("Edit", "Edit", new { /*id = item.IdCard */}) |
@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
