@model IEnumerable<VirtualDeckWeb.Models.CardsViewModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>






<div class="gridProducts">
    @foreach (var item in Model)
    {
        <div class="contenedor">
            <div class="fondo">
                <div class="tipo">
                    <img class="@Html.DisplayFor(modelItem => item.TypeCard)"  src="~/Resources/Borders/@Html.DisplayFor(modelItem => item.RarityCard)" alt="electric">
                    <div class="info">
                        <h3>@Html.DisplayFor(modelItem => item.NameCard)</h3>
                        <img src="~/Resources/Type/@Html.DisplayFor(modelItem => item.ImgCard) " alt="@Html.DisplayFor(modelItem => item.ImgCard)">
                        <div class="estadisticas">
                            <h4>Ataque</h4>
                            <p class="puntos">@Html.DisplayFor(modelItem => item.AttackCard)</p>
                            <h4>Vida</h4>
                            <p class="puntos">@Html.DisplayFor(modelItem => item.HealthCard)</p>
                            <h4>Defensa</h4>
                            <p class="puntos">@Html.DisplayFor(modelItem => item.DefenseCard)</p>
                            <h4>Velocidad</h4>
                            <p class="puntos">@Html.DisplayFor(modelItem => item.SpeedCard)</p>
                        </div>

                    </div>
                </div>
            </div>
            <p>@Html.DisplayFor(modelItem => item.CardDescription)</p>
            <div>
                <button>@Html.ActionLink("Comprar", "ModelPurchaseCard", new { id = item.IdCard }) </button>
                <p>@Html.DisplayFor(modelItem => item.PriceCard)</p>
            </div>
        </div>
    }
</div>


@Html.ActionLink("Edit", "Edit", new { /*id = item.IdCard */}) |
@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
