@model IEnumerable<VirtualDeckWeb.Models.VirtualUserViewModel>

@{
    ViewBag.Title = "Usuarios.";
}
<body>

    <h2>@ViewBag.Title</h2><br>
    <h4>@ViewBag.Message.</h4>

    <table class="table">
        <tr>
            <th>
                Foto
            </th>
            <th>
                Nombre de usuario
            </th>
            <th>
                Número de cartas
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Img)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumCards)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

</body>

