@model IEnumerable<VirtualDeckWeb.Models.CardViewModel>

@{
    ViewBag.Title = "Cartas";
}
<div class="tabs">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            @Html.ActionLink("Cartas", "Cards", null, new { @class = "selected" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Sobres", "Packs")
        </li>
        @{
            if (Session["User"] != null)
            {
                <li class="nav-item">
                    @Html.ActionLink("Tokens", "TokenPacks")
                </li>
            }
        }
    </ul>
</div>


        <form class="forms" asp-controller="ShopController" asp-action="Cards">
            <input type="text" name="search" placeholder="Introduce un nombre o descripción"/>
            <input class="bot-userInfo action-button" type="submit" value="Buscar" />
        </form>



@Html.Partial("CardListShopPartial", Model)

<ul class="pagination pagList">
    @if (ViewBag.Total > 1 && ViewBag.Page <= ViewBag.MaxPage)
    {
        if (ViewBag.Page == 0)
        {
            <li class="disabled">
                @if (ViewBag.Search != "")
                {
                    @Html.ActionLink("«", "Cards", new { page = 0, search = ViewBag.Search })
                }
                else
                {
                    @Html.ActionLink("«", "Cards", new { page = 0 })
                }
            </li>
        }
        else
        {
            <li>
                @if (ViewBag.Search != "")
                {
                    @Html.ActionLink("«", "Cards", new { page = 0, search = ViewBag.Search })
                }
                else
                {
                    @Html.ActionLink("«", "Cards", new { page = 0 })
                }
            </li>
        }
        if (ViewBag.Total > 0)
        {
            bool antes = false;
            bool desps = false;
            for (int i = 1; i <= ViewBag.Total; i++)
            {
                if (ViewBag.Page + 1 == i)
                {
                    <li class="active">
                        @if (ViewBag.Search != "")
                        {
                            @Html.ActionLink(i.ToString(), "Cards", new { page = i - 1, search = ViewBag.Search })
                        }
                        else
                        {
                            @Html.ActionLink(i.ToString(), "Cards", new { page = i - 1 })
                        }
                    </li>
                }
                else if (ViewBag.Page + 1 == i - 1 || ViewBag.Page + 1 == i - 2 || ViewBag.Page + 1 == i + 1 || ViewBag.Page + 1 == i + 2)
                {
                    <li>
                        @if (ViewBag.Search != "")
                        {
                            @Html.ActionLink(i.ToString(), "Cards", new { page = i - 1, search = ViewBag.Search })
                        }
                        else
                        {
                            @Html.ActionLink(i.ToString(), "Cards", new { page = i - 1 })
                        }
                    </li>
                }
                else
                {
                    if (i < ViewBag.Page + 1 && Math.Abs(i - (ViewBag.Page + 1)) >= 3 && antes == false)
                    {
                        <li>
                            <a>...</a>
                        </li>

                        antes = true;
                    }
                    if (i > ViewBag.Page + 1 && Math.Abs(i - (ViewBag.Page + 1)) >= 3 && desps == false)
                    {
                        <li>
                            <a>...</a>
                        </li>
                        desps = true;
                    }
                }
            }
        }
        if (ViewBag.Page == ViewBag.Total - 1)
        {
            <li class="disabled">
                @if (ViewBag.Search != "")
                {
                    @Html.ActionLink("»", "Cards", new { page = ViewBag.Total - 1, search = ViewBag.Search })
                }
                else
                {
                    @Html.ActionLink("»", "Cards", new { page = ViewBag.Total - 1 })
                }
            </li>
        }
        else
        {
            <li>
                @if (ViewBag.Search != "")
                {
                    @Html.ActionLink("»", "Cards", new { page = ViewBag.Total - 1, search = ViewBag.Search })
                }
                else
                {
                    @Html.ActionLink("»", "Cards", new { page = ViewBag.Total - 1 })
                }
            </li>
        }
    }
</ul>


