@model IEnumerable<VirtualDeckWeb.Models.TradeOffViewModel>

@{
    ViewBag.Title = "Market";
}

<ul class="nav justify-content-center">
    <li class="nav-item">
        @Html.ActionLink("Cartas", "Cards")
    </li>
    <li class="nav-item">
        @Html.ActionLink("Sobres", "Packs")
    </li>
    <li class="nav-item">
        @Html.ActionLink("Tokens", "TokenPacks")
    </li>
    <li class="nav-item">
        @Html.ActionLink("Mercado", "Market")
    </li>
</ul>

<h2>Market</h2>


<table class="table">
    <tr>
        <th>
            Carta Ofrecida
        </th>
        <th></th>
        <th>
            Carta Deseada
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NameUserCard) | @Html.DisplayFor(modelItem => item.ImgUserCard)
    </td>
    <td>X</td>
    <td>
        @Html.DisplayFor(modelItem => item.NameCard) | @Html.DisplayFor(modelItem => item.ImgCard)
    </td>
    <td>
        @Html.ActionLink("Intercambiar", "ExchangeCardsDetails", new { id = item.Id })
    </td>
</tr>
}

</table>

<button>@Html.ActionLink("Publicar Intercambio", "PublishExchange")</button>
