@model VirtualDeckWeb.Models.PackViewModel

@{
    ViewBag.Title = "PackDetails";
}

<h2>COMPRAR SOBRE</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Precio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Imagen
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>

        <dt>
            Fecha de Registro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistryDate)
        </dd>

        <dt>
            Máximo número de cartas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxNumCards)
        </dd>

        <dt>
            Mínimo número de cartas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinNumCards)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Packs")
</p>
