@model IEnumerable<VirtualDeckWeb.Models.TokenPackViewModel>
@using VirtualDeckGenNHibernate.EN.VirtualDeck;

@{
    ViewBag.Title = "Packs de Tokens";
}

@if (Session["user"] != null)
{
    VirtualUserEN en = Session["user"] as VirtualUserEN;

    int id = en.Id;

    <div>
        <p class="userInfoTokens tokensTienda"><strong>Tokens: </strong><span>@en.Tokens <img src="~/Resources/token.png" /></span></p>
    </div>

}

<div class="tabs" style="margin-bottom:7.5em;">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            @Html.ActionLink("Cartas", "Cards")
        </li>
        <li class="nav-item">
            @Html.ActionLink("Sobres", "Packs")
        </li>
        @{
            if (Session["User"] != null)
            {
                <li class="nav-item">
                    @Html.ActionLink("Tokens", "TokenPacks", null, new { @class = "selected" })
                </li>
            }
        }
    </ul>
</div>

<!------------------------------------------- NEW --------------------------------------------------->
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="centered-col-container">
                    <div class="token-pack-container">
                        <div>
                            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                            <img src="~/Resources/token.png" alt="token">
                        </div>
                        <div>
                            <h4>@Html.DisplayFor(modelItem => item.Tokens) Tokens</h4>
                            <h4>@Html.DisplayFor(modelItem => item.Price) €</h4>
                            @Html.ActionLink("Comprar", "Buy", "TokenPack", new { id = item.Id }, new { @class = "action-button" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@Html.Partial("OperationResultPartial")