@model IEnumerable<VirtualDeckWeb.Models.TokenPackViewModel>

@{
    ViewBag.Title = "TokenPacks";
}
<div class="tabs" style="margin-bottom:7.5em;">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            @Html.ActionLink("Cartas", "Cards")
        </li>
        <li class="nav-item">
            @Html.ActionLink("Sobres", "Packs")
        </li>
        <li class="nav-item">
            @Html.ActionLink("Tokens", "TokenPacks", null, new { @class = "selected" })
        </li>
    </ul>
</div>

<!------------------------------------------- NEW --------------------------------------------------->
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                <div class="fondoContenedorPacks contenedorPack">
                    <div>
                        <img src="~/Resources/token.png" alt="token">
                    </div>
                    <div>
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                        <p>@Html.DisplayFor(modelItem => item.Price) €</p>
                        @Html.ActionLink("Comprar", "ModelPurchaseCard", new { id = item.Id }, new { @class = "action-button" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
