@model IEnumerable<VirtualDeckWeb.Models.TokenPackViewModel>

@{
    ViewBag.Title = "TokenPacks";
}

<ul class="nav justify-content-center">
    <li class="nav-item">
        @Html.ActionLink("Cartas", "Cards")
    </li>
    <li class="nav-item">
        @Html.ActionLink("Sobres", "Packs")
    </li>
    <li class="nav-item">
        @Html.ActionLink("Tokens", "TokenPacks")
    </li>
</ul>

<h2>Packs de Tokens</h2>

<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Descripción
        </th>
        <th>
            Precio
        </th>
        <th>
            Imagen
        </th>
        <th>
            Tokens
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Img)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tokens)
        </td>
        <td>
            @Html.ActionLink("Comprar", "TokenPackDetails", new { id=item.Id })
        </td>
    </tr>
}

</table>
