@model VirtualDeckWeb.Models.PackViewModel
@using VirtualDeckGenNHibernate.EN.VirtualDeck;

@{
    ViewBag.Title = "Detalle Sobre";
}

<div class="container superior">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            @Html.Partial("PackPartial", Model)

        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12  details">
            @using (Html.BeginForm("Buy", "Pack", FormMethod.Post))
            {
                <h3>@Html.DisplayFor(model => model.Name)</h3>
                <p>@Html.DisplayFor(model => model.Description)</p>
                <div>
                    <label>Precio</label>
                    <p class="price">@Html.DisplayFor(model => model.Price)<img src="~/Resources/token.png" alt="Tokens" class="token"></p>
                </div>
                VirtualUserEN user = Session["User"] as VirtualUserEN;
                if (user != null)
                {
                    <div>
                        <label for="cantidad">Cantidad</label>
                        <input type="number" id="cantidad" name="amount" min="1" value="1" max="50" onchange="changeTokens(this);" />
                    </div>
                    <div>
                        <label>Precio total</label>
                        <p><span class="totalPrice">@Html.DisplayFor(model => model.Price)</span><span><img src="~/Resources/token.png" alt="Tokens" class="token"></span></p>
                    </div>




                    <input type="submit" value="Comprar" class="btn btn-default action-button" />
                }
                else
                {
                    @Html.ActionLink("Comprar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "action-button" })
                }


                <input type="hidden" value="@Model.Id" name="packId">
            }
        </div>
    </div>
</div>

<div>
    <h4>PackViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxNumCards)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxNumCards)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinNumCards)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinNumCards)
        </dd>

    </dl>
</div>

@Html.Partial("OperationResultPartial")
