@model IEnumerable<VirtualDeckWeb.Models.PackViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Sobres</h2>

<div class="gridProducts">
    @foreach (var item in Model)
    {
        <div class="contenedor">
            <div class="fondo">
                <div class="tipo">
                    <div class="info">
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <img src="~/Resources/PackRarities/@Html.DisplayFor(modelItem => item.Img) " alt="@Html.DisplayFor(modelItem => item.Img)">

                    </div>
                </div>
            </div>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            <div>
                <buton>@Html.ActionLink("Comprar", "Details", new { id = item.Id })</buton>
                <p>@Html.DisplayFor(modelItem => item.Price)</p>
            </div>
        </div>
        
    }
</div>

