@model IEnumerable<VirtualDeckWeb.Models.TradeOffViewModel>

@{
    ViewBag.Title = "Intercambios";
}

<form class="forms" asp-controller="" asp-action="">
    <input type="text" placeholder="Buscar" name="search" />
    <input class="bot-userInfo action-button" type="submit" value="Buscar" />
</form>

<div class="container listTop">
    <div class="row list">
        @foreach (var item in Model)
        {
            <div class="ListTrade">
                <h3>@Html.DisplayFor(modelItem => item.OfferedUserCard.Name)</h3>
                <div class="divTrade">
                    <a data-toggle="modal" data-target="#@item.OfferedUserCard.Id">
                        @Html.Partial("UserCardPartial", item.OfferedUserCard)
                    </a>

                </div>
                <img class="noBorder" src="~/Resources/inter.png" />
                <div class="divTrade">
                    @Html.Partial("CardPartial", item.DesiredCard)
                </div>

                <h3>@Html.DisplayFor(modelItem => item.DesiredCard.Name)</h3>
                <div class="centerDiv">
                    @Html.ActionLink("Intercambiar", "Details", new { id = item.Id }, new { @class = "action-button" })
                </div>
            </div>

            <div class="modal fade" id="@item.OfferedUserCard.Id" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="m-modal">

                    <div>
                        @Html.Partial("UserCardPartial", item.OfferedUserCard)
                        <div>
                            <h2>@item.OfferedUserCard.Name</h2>
                            <p><b>Tipo:</b> @item.OfferedUserCard.Type</p>
                            <p><b>Rareza:</b> @item.OfferedUserCard.Rarity</p>
                            <p><b>Nivel:</b> @item.OfferedUserCard.Level</p>
                            <p><b>Experiencia:</b> @item.OfferedUserCard.Experience exp</p>
                        </div>
                    </div>

                    <img class="icon-close" data-dismiss="modal" id="close-button" src="~/Resources/borrar.png" alt="Cerrar" />

                </div>
            </div>

        }
        @Html.ActionLink("Publicar Intercambio", "Publish", null, new { @class = "action-button" })
    </div>
</div>
